<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CityChoose.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4634ABC1DDBEEB3004E768D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4634AD51DDBEEB3004E768D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4634AE01DDBEEB3004E768D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
